body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #060010;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, #root {
  height: 100vh;
}
.App {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
  
.main-content {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  flex: 1;
  position: relative;
  z-index: 1;
  padding: 2rem;
  color: white;
}

.two-column {
  display: flex;
  flex: 1;
  gap: 2rem;
  align-items: stretch;
}

.left-column {
  flex: 1;
  min-width: 300px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.right-column {
  flex: 1;
  min-width: 300px;
  z-index: 1;
  justify-content: center;
}

.left-column header {
  max-width: 400px;
  padding: 1rem;
}

.right-column {
  flex: 1;
  min-width: 450px;
  z-index: 1;
}

.under-development-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 20px;
  background-color: #f5f5f5; /* Light background for 404 error vibe */
  color: #333;
  z-index: 1;
  border-top: 2px solid #ff4444; /* Red border for error theme */
  border-bottom: 2px solid #ff4444;
  box-shadow: 0 0 10px rgba(255, 68, 68, 0.5); /* Subtle red glow */
}

.under-development-section canvas {
  max-width: 90%;
  height: auto;
  filter: drop-shadow(0 0 5px rgba(255, 68, 68, 0.2)); /* Subtle glow for text */
}

.project section {
  position: relative;
  z-index: 1;
  padding: 2rem;
  margin-top: 2rem;
}
.project {
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  gap: 1rem;
  padding:1rem 2rem;
}

.project-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05);
}

.site-footer {
  background-color: #1a1a1a;
  color: #fff;
  padding: 2rem;
  text-align: center;
  z-index: 1;
  position: relative;
}

.footer-links {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.footer-links a {
  color: #bbb;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

